src/main/resources/schemas/artists-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="albums-schema.xsd"/>
    <xs:include schemaLocation="genres-schema.xsd"/>
    <xs:element name="artists" type="albumList"/>
    <xs:complexType name="artistList">
        <xs:sequence>
            <xs:element name="artist" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="genre" type="genreEnum"/>
                        <xs:element name="albums" type="albumList"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
