src/main/resources/schemas/playlists-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="tracks-schema.xsd"/>

    <xs:element name="playlists" type="playlistList"/>
    <xs:complexType name="playlistList">
        <xs:sequence>
            <xs:element name="playlist" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="tracks" type="trackList"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
