src/main/resources/schemas/tracks-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="trackList">
        <xs:sequence>
            <xs:element name="track" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="title" type="xs:string"/>
                        <xs:element name="durationSeconds" type="xs:int"/>
                        <xs:element name="explicit" type="xs:boolean"/>
                        <xs:element name="lastPlayedAt" type="xs:dateTime"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
