src/main/resources/schemas/users-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="playlists-schema.xsd"/>
    <xs:element name="users" type="userlist"/>
    <xs:complexType name="userlist">
        <xs:sequence>
            <xs:element name="user" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="username" type="xs:string"/>
                        <xs:element name="subscription" type="xs:string"/>
                        <xs:element name="playlists" type="playlistList"/>
                    </xs:all>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
